.bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  padding: 3rem 3rem 3rem 4rem;
}

.bienvenida p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  margin-top: 1rem;
}
.image-1{
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.image-1 img {
  margin-top: 20px;
  width: 60%;
  height: 100%;
}

@media (max-width: 430px) {
  .image-1 img {
    margin-top: 20px;
    width: 310px;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .image-1 img {
    margin-top: 20px;
    width: 80%;
    height: 100%;
  }
}

