.content-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.navbars {
  margin: 0px;
  padding: 0px;

  display: flex;
  width: 100vw;
  height: 88px;
}

.content {
  display: flex;
  flex: 1;
  width: 100vw;
}


.footer {
  margin: 0px;
  padding: 0px;

  display: flex;
  width: 100vw;
  min-height: 148;
}
.social-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
