.content-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.navbars {
  margin: 0px;
  padding: 0px;

  display: flex;
  width: 100vw;
  height: 88px;
}

.content {
  display: flex;
  flex-direction: column;

  flex: 1;
  width: 100vw;
}

.blog-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

 
}
.children-content{
  display: flex;
  flex-direction: column;
  
  flex:3;
  
}
.social-sidebar{
  display: flex;
  flex:2;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
}
.facebook-card{
  margin-top: 30px;
}
.footer {
  margin: 0px;
  padding: 0px;

  display: flex;
  width: 100vw;
  min-height: 148;
}
.social-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media (max-width: 854px) {
  .social-sidebar{
      display: none;
  }
  .children-content{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    flex:1;
  }

}