.biblioteca-digital{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 3rem 3rem 3rem;
  }
  
  .biblioteca-digital {
    font-size: 1.5rem;
    font-weight: 330;
    text-align: left;
    margin-top: 1rem;
    text-align: start;
  }
  .biblioteca-digital-texto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    line-height: 1.6;
  }
 
.biblioteca-digital-texto-marcado {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: start;
    line-height: 1.6;

  }
  .biblioteca-digital h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .biblioteca-digital-vinculo{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 330;
    text-align: left;
    margin-top: 1rem;
    text-align: start;
  }
  