.atencion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 3rem 3rem 3rem 3rem;
}

.atencion p {
  font-size: 1.5rem;
  font-weight: 330;
  text-align: left;
  margin-top: 1rem;
  text-align: center;
}
.atencion-tabla {
  width: 100%;
}
.atencion-tabla-titulo {
  width: 100%;
  background-color: #dddddd;
  border: 1px solid #a3a3a3;
}
.atencion-tabla-contenido {
  display: flex;
  border: 1px solid #a3a3a3;
}
.atencion-tabla-contenido-principal {
  flex: 1;
  border: 1px solid #a3a3a3;
}
.atencion-tabla-contenido-uno {
  flex: 1;
  border-right: 1px solid #a3a3a3;
}
.atencion-tabla-contenido-dos {
  flex: 1;
  border: 0px solid #a3a3a3;
}

@media (max-width: 1030px) {
  .atencion {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .atencion p {
    font-size: 0.8rem;
  }
  .atencion-tabla {
    margin-top: 20px;
  }
  .atencion-tabla-titulo {
    width: 100%;
  }
  .atencion-tabla-contenido {
    display: flex;
  }
  .atencion-tabla-contenido-principal {
    flex: 1;
  }
  .atencion-tabla-contenido-uno {
    flex: 1;
  }
  .atencion-tabla-contenido-dos {
    flex: 1;
  }
}
